root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.[ch]]
indent_style = space
indent_size = 2
indent_brace_style = gnu

[*.py]
indent_style = space
indent_size = 4
